{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        
        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for team_member in team_members %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="container">
                                <h2>{{ team_member.name }}</h2>
                                <p>{{ team_member.bio|safe }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}